# Configuration file

####################
# block
####################

block {
    I:Antianti=3868
    I:Antibuilder=3867
    I:ArrowTrap=3854
    I:ArrowTrapItemBlock=3858
    I:CoverPlate=3856
    I:CoverPlateItemBlock=3863
    I:DeadDrop=3855
    I:FakeBlock=3895
    I:FakeBlockItemBlock=3864
    I:FakeTileEntity=3865
    I:FloatingBlock=3866
    I:InvisBedrock=3852
    I:InvisBlock=3894
    I:InvisPressurePlate=3861
    I:LaserBeam=3822
    I:LaserSource=3821
    I:ObsInvisPressurePlate=3842
    I:ObsWallPressurePlate=3840
    I:Quicksand=3857
    I:SpikeBlock=3853
    I:WallPressurePlate=3869
    I:lightblock=3850
    I:pedestal=3851
}


####################
# general
#===================
# These settings dictate how item names are displayed.
####################

general {
    B:Adjectives=true
    B:Enchantments=true
    B:Material=true
}


####################
# item
####################

item {
    I:artifact=4500
    I:artifact_boots1=3595
    I:artifact_boots2=3596
    I:artifact_boots3=3597
    I:artifact_boots4=3598
    I:artifact_boots5=3599
    I:artifact_chest1=3585
    I:artifact_chest2=3586
    I:artifact_chest3=3587
    I:artifact_chest4=3588
    I:artifact_chest5=3589
    I:artifact_helm1=3580
    I:artifact_helm2=3581
    I:artifact_helm3=3582
    I:artifact_helm4=3583
    I:artifact_helm5=3584
    I:artifact_legs1=3590
    I:artifact_legs2=3591
    I:artifact_legs3=3592
    I:artifact_legs4=3593
    I:artifact_legs5=3594
    I:calendar=4021
    I:orichalcumDust=4022
    I:repairkit=3520
    I:trapblade_diamond=4501
    I:trapblade_gold=4502
    I:trapblade_iron=4503
    I:trapblade_stone=4504
    I:trapblade_wood=4505
}


####################
# rendering
#===================
# Determines some options on invisible blocks
####################

rendering {
    # Set this to false to disable bounding boxes on invisible blocks.
    # ALERT: without bounding boxes you will not be able to destroy them!
    # This is only recommended for playing adventure maps.
    B:BoundInvis=true

    # Set this to true to render invisible blocks.  Even when false, they will render in your inventory.
    B:RenderInvis=false

    # Set to false to disable rendering of item names on display pedesals
    B:RenderNames=false

    # Sets the rendering type for swords in arrow traps.
    # Default is 'blade' which attempts to maintain the jaggy nature of the vanilla sword.
    # 'blade_alt' uses a smaller texture, maintaining strait lines and mirroring the vanilla item as closely as possible.
    # Additional textures can be created and set here as well, if desired, without replacing existing textures.
    S:TrapSwordIcon=blade

    # Sets the package the icons should be pulled from.
    # Default is 'artifacts' which pulls the default icons.
    # Not sure where this points otherwise.
    S:TrapSwordPackage=artifacts
}


####################
# spawning
#===================
# These settings alter the spawning rarity of artifacts in the various chests.
# Lower is rarer, higher is more common.  By default pyramids and temples generate ~2 total.
# Cross-Mod Treasure String ('ProceeduralGeneration') is for inter-mod treasure gen.
####################

spawning {
    I:Blacksmith=1
    I:Dungeons=0
    I:Mineshafts=0
    I:Pyramids=2
    I:Stronghold_Corridor=1
    I:Stronghold_Crossing=1
    I:Stronghold_Library=4
    I:Temples=5
    I:WizTowers=9
    I:crossModTreasureString_ProceeduralGeneration=4
}


####################
# worldgen
#===================
# By default this mod alters worldgen slightly, adding more and different traps to
# pyramids, temples, and strongholds as well as quicksand 'lakes'.
# These may be disabled individually.
####################

worldgen {
    B:Pyramids=true
    B:QuicksandPits=true
    B:Strongholds=true
    B:Temples=true
    B:UseAntibuilders=true
    B:WizardTowers=false

    # Enables the blacklist for worldgen.  If enabled, world gen objects will never generate in blacklisted dimensions.
    # Blacklist will override whitelist.  -1 and 1 (Nether and End) are always blacklisted.
    B:dimensionBlacklistEnable=false
    I:dimensionBlacklistList <
        -1
        1
     >

    # Enables the whitelist for worldgen.  If enabled, world gen objects will only generate in whitelisted dimensions.
    B:dimensionWhitelistEnable=false
    I:dimensionWhitelistList <
        0
     >
}


